---
layout: home
title: Mageplaza
meta-title: "Mageplaza"
meta-description: "Mageplaza, the collection of FREE Magento Extensions for every Magento store."
meta-keywords: "mageplaza"
redirect_from:
    - /index.php/
---


<div class="container">
    <div class="row home-intro text-center">
        <div class="col-lg-12">
            <h2 class="tagline">Free, open source, and easy to use.</h2>
            <p class="lead">Mageplaza is a library of <strong>modules</strong> for Magento. Our extensions are open source for any use. Download what you like and get started!</p>
            <hr class="small">
        </div>
    </div>

    <div class="row">
         {% for post in site.magento-extensions | sort: 'sort_order', 'last' %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="{{ site.url }}{{ post.url }}" class="post-image-link">
                    <img src="{{ site.url }}{{ post.image }}" alt="{{ post.description }}">
                </a>
                <div class="caption">
                    <h4>{{ post.title }}</h4>

                    <p>
                        <button type="button" class="btn btn-primary">{% if post.price == 0 %}FREE{% else %}<i class="fa fa-dollar"></i>{{ post.price }}{% endif %}</button>
                        <a href="{{ site.url }}{{ post.url }}" class="btn btn-default">View details</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

        

        <hr class="small">


    </div>

    <div class="row">
     <div class="text-center btn-home">
            <a href="{{ site.url }}/magento-extensions/" class="btn btn-outline">View All Extensions</a>
        </div>
    </div>


    <!-- <div class="row">
         <div class="col-md-6">
            <div class="row-heading text-center">
                <h3>Recent Guides</h3>
                <p class="lead">Follow up our Guides</p>
            </div>

            <div class="row-content">
                {% for post in site.categories.guide %}
                    <div class="post-list-item">
                        <a href="{{ site.url }}{{ post.url }}" class="post-image-link">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <div class="caption">
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center btn-home">
                <a href="{{ site.url }}/categories/guides" class="btn btn-outline">View All Guides</a>
            </div>
           
        </div>


            
        <div class="col-md-6">
            <div class="row-heading text-center">
                <h3>Recent blog posts</h3>
                <p class="lead">Follow up our posts</p>
            </div>

            <div class="row-content">
                {% for post in site.categories.blog %}
                    <div class="post-list-item">
                        <a href="{{ site.url }}{{ post.url }}" class="post-image-link">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <div class="caption">
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center btn-home">
                <a href="{{ site.url }}/categories/blog" class="btn btn-outline">View All Posts</a>
            </div>
           
        </div>

    </div> -->

   



   
</div>










