<!-- <div class="cta-mail">
    <div class="container text-center">
        <h2>Want to get discount, newsletters?</h2>
        <h4>Subscribe to our mailing list to receive an update now!</h4>
        <div id="mc_embed_signup">
            <form role="form" action="{{ site.subcriber_url}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group input-group-lg">
                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                    <span class="input-group-btn">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe!</button>
                    </span>
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                <ul class="list-inline">
                    <li>
                        <a href="{{ site.url }}/">Home</a>
                    </li>
                    
                    <li><a href="{{ site.url }}/blog/">Blog</a></li>
                    <li><a href="{{ site.url }}/kb/">Knowledge Base</a></li>
                    <li><a href="{{ site.url }}/kb/magento-2-tutorial/">Magento 2 Tutorial</a></li>
                    <li><a href="{{ site.url }}/sitemap/">Sitemap</a></li>
                    <li><a href="{{ site.url }}/magento-2-free-extensions/" title="Magento 2 Free Extensions">Free Extensions</a></li>
                    <li><a href="{{ site.url }}/contact.html" rel="nofollow">Contact</a></li>
                    <li><a href="{{ site.url }}/privacy.html" rel="nofollow" title="Privacy">Privacy</a></li>
                    <li><a href="{{ site.url }}/tos.html" rel="nofollow" title="Terms and Conditions">TOS</a></li>

                </ul>
                <p>
                    <!-- {% include social-buttons.html %} -->

                </p>
            </div>
            <div class="col-md-6 footer-right">
                {% include footer_right.html %}
                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>© Copyright {{ site.time | date:"%Y" }} by {{ site.name }}</p>
            </div>
        </div>

        <di
    </div>
</footer>
