

<div class="col-md-6">
	<ul class="">
	    <li><a href="{{ site.url }}/magento-2-affiliate-extension/">Magento 2 Affiliate</a></li>
	    <li><a href="{{ site.url }}/magento-2-gift-card-extension/">Magento 2 Gift Card</a></li>
	    <li><a href="{{ site.url }}/magento-2-reward-points-extension/">Magento 2 Reward Points</a></li>
	    <li><a href="{{ site.url }}/magento-2-blog-extension/">Magento 2 Blog</a></li>
	    <li><a href="{{ site.url }}/magento-2-seo-extension/">Magento 2 SEO</a></li>
	    <li><a href="{{ site.url }}/magento-2-social-login-extension/">Magento 2 Social Login</a></li>

	</ul>

</div>

<div class="col-md-6">
	<ul class="">
	    <li><a href="{{ site.url }}/magento-zoho-crm-integration-extension/">Magento Zoho CRM integration</a></li>
	    <li><a href="{{ site.url }}/magento-affiliate-extension/">Magento Affiliate</a></li>
	    <li><a href="{{ site.url }}/magento-blog/">Magento Blog extension</a></li>
	</ul>

</div>


