<!DOCTYPE html>
<html lang="en">
<link rel="alternate" href="{{ site.url }}" hreflang="en-us" />

<khead>
{% include head.html %}
</head>

<body>
<!-- Navigation -->
{% include nav.html %}

<header class="marquee">
    <div class="container">
        <span class="brand-name">Magento Reward Points</span>
        <h1>{{ site.slogan }}</h1>
        <p>{{ site.description }}</p>

        <!-- <div id="social">
            <a href="https://twitter.com/SBootstrap" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @SBootstrap</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://startbootstrap.com" data-via="SBootstrap" data-lang="en">Tweet</a>
        </div> -->
        <!-- <a href="/categories/all" class="btn btn-default btn-cta"><i class="fa fa-chevron-circle-right"></i> Browse Themes &amp; Templates</a> -->
        <div class="sponsor">
            
        </div>
    </div>
</header>

<!-- Page Content -->
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>